@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
body {
  background: url(images/watertop.png) no-repeat;
  background-size: 100%;
}

header {
  height: 700px;
  text-align: center;
  margin-top: -2em;
}

h1 {
  // notice we have to reference the 'atoms' namespace to find our mixins.
  @include atoms.uppercase($text-light);
  @include atoms.animated_div;
  color: $text-light;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: normal;
  margin-top: 6em;
}

header h2 {
  margin-top: -2.5em;
}

.summary {
  @include atoms.uppercase($text-light);
  padding: 10%;
  margin-top: -30rem;
  margin-bottom: 5rem;
  text-align: center;
  p:last-child {
    @include atoms.divider;
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  margin-top: -8rem;
  margin-bottom: 5rem;
  margin-left: -20rem;
  margin-right: 18rem;
  padding: 5% 5% 5% 35%;
  border-radius: 0px 20px 20px 0px;
  filter: drop-shadow(10px 10px 4px #45634e);
}

.sidebar {
  margin-top: -33rem;
  margin-right: 1rem;
  
}

.design-selection {
  margin-bottom: 5rem;
  li {margin-bottom: 1em;}
}

#design-selection h3 {
  margin-left: 1em;
}

#design-archives h3 {
  margin-left: 1em;
}

#zen-resources h3 {
  margin-left: 1em;
}

.design-archives {
  margin-bottom: 5rem;
  li {margin-bottom: 1em;}
}

#zen-ressources li{
  margin-bottom: 1em;
}

.explanation {
  p:last-child {
    @include atoms.divider2;
  }
}

.participation {
  p:last-child {
    @include atoms.divider2;
  }
}

.benefits {
  p:last-child {
    @include atoms.divider2;
  }
}

.requirements {
  p:last-child {
    @include atoms.divider2;
  }
}

footer {
  height: 600px;
  background: url(images/waterbottom_720.png);
  background-size: 100%;
  width: 80rem;
  margin-top: 2rem;
} 

footer a {
  margin-left: 2rem;
}

.zen-validate-html {
  margin-left: 24rem;
}