@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';

.intro {
  padding: 5%;
}
header {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  content: url(images/watertop.png);
}
footer {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  content: url(images/waterbottom_720.png);
}