@use 'variables' as *;
@use 'atoms';
@use 'molecules';

@media screen and (min-width:768px) { 
  .page-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "intro intro intro intro"
      "preamble preamble preamble sidebar"
      "support support support sidebar"
      "explanation explanation explanation sidebar"
      "participation participation participation sidebar"
      "benefits benefits benefits benefits"
      "requirements requirements requirements requirements"
      "footer footer footer footer"; 
  }
}

#zen-intro {
  grid-area: intro;
}

#zen-preamble {
  grid-area: preamble;
}

#zen-supporting {
  grid-area: support;
}

#zen-explanation {
  grid-area: explanation;
}

#zen-participation {
  grid-area: participation;
}

#zen-benefits {
  grid-area: benefits;
}

#zen-requirements {
  grid-area: requirements;
}

.sidebar{
  grid-area: sidebar;
}

#design-selection {
  grid-area: selection;
}

#design-archives {
  grid-area: archives;
}

#zen-resources {
  grid-area: resources;
}

@media screen and (max-width:438px) { 
  header {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width:768px) { 
  header h2 {
    margin-top: -3em;
  }
}

@media screen and (max-width:768px) { 
  .summary {
    margin-top: -22rem;
  }
}

@media screen and (max-width:768px) { 
  .summary p {
    @include atoms.responsive_p;
  }
}

@media screen and (max-width:768px) { 
  .preamble {
    margin-top: -8rem;
    margin-bottom: 5rem;
    margin-left: -15rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width:768px) {
  .explanation {
    @include atoms.responsive_p;
  }
}

@media screen and (max-width:768px) {
  .participation {
    @include atoms.responsive_p;
  }
}

@media screen and (max-width:768px) {
  .benefits {
    @include atoms.responsive_p;
  }
}

@media screen and (max-width:768px) {
  .requirements {
    @include atoms.responsive_p;
  }
}

@media screen and (max-width:768px) {
  .sidebar {
    margin-top: -12rem;
  }
}

@media screen and (max-width:1024px) {
  .zen-validate-html {
    margin-left: 5rem;
  }
}

@media screen and (max-width:768px) {
  .zen-validate-html {
    margin-left: 2rem;
  }
}

@media screen and (max-width:620px) {
  footer {
    margin: 2rem 4rem 8rem 0rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}

@media screen and (max-width:768px) {
  .summary {
    padding: 0;
  }
}


@media screen and (min-width:732px) { 

  @mixin animated_div2 
{
  width:100px;
  height:60px;
  background-image: url(./images/fish_school2.png);
  position: relative;
  margin-top: 4em;
  margin-left: 48em;
  padding:10px;
  filter: drop-shadow(0px 30px 7px #2b4633);
  animation:animated_div2 5s 1;
  -moz-animation:animated_div2 5s 1;
  -webkit-animation:animated_div2 5s 1;
  -o-animation:animated_div2 5s 1;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

  @keyframes animated_div2
  {
    0% {transform: scaleX(-1) rotate(0deg);left:0%}
    10% {transform: scaleX(-1) rotate(0deg);left:0%;}
    25% {transform: scaleX(-1)rotate(0deg);left:0%;}
    50% {transform: rotate(0deg);left:50%;}
    55% {transform: rotate(0deg);left:50%;}
    75% {transform: rotate(-360deg);left:0%;}
    85% {transform: rotate(-360deg);left:0%;}
    95% {transform: scaleX(-1) rotate(0deg);left:0%}
    100% {transform: scaleX(-1) rotate(0deg);left:0%}
  }
    
  @keyframes animated_div2
  {
    0% {-webkit-transform: scaleX(-1) rotate(0deg);left:0%}
    10% {-webkit-transform: scaleX(-1) rotate(0deg);left:0%;}
    25% {-webkit-transform: scaleX(-1)rotate(0deg);left:0%;}
    50% {-webkit-transform: rotate(0deg);left:50%;}
    55% {-webkit-transform: rotate(0deg);left:50%;}
    75% {-webkit-transform: rotate(-360deg);left:0%;}
    85% {-webkit-transform: rotate(-360deg);left:0%;}
    95% {-webkit-transform: scaleX(-1) rotate(0deg);left:0%}
    100% {-webkit-transform: scaleX(-1) rotate(0deg);left:0%}
  }
    
  @-moz-keyframes animated_div2
  {
    0% {-moz-transform: scaleX(-1) rotate(0deg);left:0%}
    10% {-moz-transform: scaleX(-1) rotate(0deg);left:0%;}
    25% {-moz-transform: scaleX(-1)rotate(0deg);left:0%;}
    50% {-moz-transform: rotate(0deg);left:50%;}
    55% {-moz-transform: rotate(0deg);left:50%;}
    75% {-moz-transform: rotate(-360deg);left:0%;}
    85% {-moz-transform: rotate(-360deg);left:0%;}
    95% {-moz-transform: scaleX(-1) rotate(0deg);left:0%}
    100% {-moz-transform: scaleX(-1) rotate(0deg);left:0%}
  }
    
  @-o-keyframes animated_div2
  {
    0% {transform: scaleX(-1) rotate(0deg);left:0%}
    10% {transform: scaleX(-1) rotate(0deg);left:0%;}
    25% {transform: scaleX(-1)rotate(0deg);left:0%;}
    50% {transform: rotate(0deg);left:50%;}
    55% {transform: rotate(0deg);left:50%;}
    75% {transform: rotate(-360deg);left:0%;}
    85% {transform: rotate(-360deg);left:0%;}
    95% {transform: scaleX(-1) rotate(0deg);left:0%}
    100% {transform: scaleX(-1) rotate(0deg);left:0%}
  }
}

@media screen and (min-width:732px) { 

  @keyframes animated_div
  {
    0% {transform: rotate(0deg);left:0%;}
    25% {transform: rotate(20deg);left:0%;}
    50% {transform: rotate(0deg);left:50%;}
    55% {transform: rotate(0deg);left:50%;}
    70% {transform: scaleX(-1) rotate(0deg);left:50%;}
    100% {transform: rotate(-360deg);left:0%;}
  }
    
  @keyframes animated_div
  {
    0% {-webkit-transform: rotate(0deg);left:0%;}
    25% {-webkit-transform: rotate(20deg);left:0%;}
    50% {-webkit-transform: rotate(0deg);left:50%;}
    55% {-webkit-transform: rotate(0deg);left:50%;}
    70% {-webkit-transform: scaleX(-1) rotate(0deg);left:50%}
    100% {-webkit-transform: rotate(-360deg);left:0%;}
  }
    
  @-moz-keyframes animated_div
  {
    0%  {-moz-transform: rotate(0deg);left:0%;}
    25% {-moz-transform: rotate(20deg);left:0%;}
    50%  {-moz-transform: rotate(0deg);left: 50%;}
    55%  {-moz-transform: rotate(0deg);left:50%;}
    70%  {-moz-transform: scaleX(-1) rotate(0deg);left:50%}
    100% {-moz-transform: rotate(-360deg);left:0%;}
  }
    
  @-o-keyframes animated_div
  {
    0% {transform: rotate(0deg);left:0%;}
    25% {transform: rotate(20deg);left:0%;}
    50%  {transform: rotate(0deg);left:50%;}
    55%  {transform: rotate(0deg);left:50%;}
    70%  {transform: scaleX(-1) rotate(0deg);left:50%}
    100% {transform: rotate(-360deg);left:0%;}
  }
}

@media screen and (max-width:768px) {

  p {
    margin-left: 0;
    margin-right: 0;
  }
  #zen-preamble p {
    padding-left: 100px;
  }
  #zen-preamble h3 {
    padding-left: 75px;
  }

  h3 {
    margin: 0;
    margin-top: 50px;
  }

  h2 {
    font-size: 40pt;
  }
  .preamble {
    margin: 0;
    text-align: center;
  }

  .summary {
    padding: 0;
  }
}