/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Lora&family=Montserrat:wght@300&family=Open+Sans:wght@600&display=swap');


$fonts-headline: "Open Sans", Arial, Verdana, sans-serif;
$fonts-body: "Montserrat", arial, sans-serif;
$background_color: #70a37f;
$primary: #237959;
$accent1: #41658a;
$accent2: #414073;
$grey-sidebar: #4c3957;
$text-dark: #333;
$text-light: #fff;
$link: rgb(255, 165, 0);
$hover: rgb(160, 119, 44);