@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-light;
  background-color: $primary;
  margin: 0;
}


footer {
  height: 600px;
  background: url(images/waterbottom_720.png);
  background-size: 100%;
  margin-top: 2rem;
} 

footer a {
  margin-left: 2rem;
}