/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Lora&family=Montserrat:wght@300&family=Open+Sans:wght@600&display=swap");
/*@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}*/
@keyframes animated_div {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
  }
  55% {
    transform: rotate(0deg);
    left: 500px;
  }
  70% {
    transform: scaleX(-1) rotate(0deg);
    left: 500px;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}
@keyframes animated_div {
  0% {
    -webkit-transform: rotate(0deg);
    left: 0px;
  }
  25% {
    -webkit-transform: rotate(20deg);
    left: 0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
    left: 500px;
  }
  55% {
    -webkit-transform: rotate(0deg);
    left: 500px;
  }
  70% {
    -webkit-transform: scaleX(-1) rotate(0deg);
    left: 500px;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    left: 0px;
  }
}
@keyframes animated_div2 {
  0% {
    transform: rotate(0deg);
    right: 0px;
  }
  25% {
    transform: rotate(20deg);
    right: 0px;
  }
  50% {
    transform: rotate(0deg);
    right: 500px;
  }
  55% {
    transform: rotate(0deg);
    right: 500px;
  }
  70% {
    transform: scaleX(-1) rotate(0deg);
    right: 500px;
  }
  100% {
    transform: rotate(-360deg);
    right: 0px;
  }
}
@keyframes animated_div2 {
  0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
  }
  25% {
    -webkit-transform: rotate(20deg);
    right: 0px;
  }
  50% {
    -webkit-transform: rotate(0deg);
    right: 500px;
  }
  55% {
    -webkit-transform: rotate(0deg);
    right: 500px;
  }
  70% {
    -webkit-transform: scaleX(-1) rotate(0deg);
    right: 500px;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    right: 0px;
  }
}
h2,
h3,
h4 {
  font-family: "Open Sans", Arial, Verdana, sans-serif;
}

h2 {
  color: #fff;
  font-weight: 900; /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  margin-left: 5em;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin-left: 10em;
  margin-right: 10em;
}

.design-name, .designer-name {
  color: #fff;
  padding: 5px;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #41658a;
}

header {
  height: 700px;
  text-align: center;
  background-image: url(images/watertop.png);
  background-size: 100%;
<<<<<<< HEAD
  margin-top: -2em;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  width: 400px;
  height: 190px;
  background-image: url(./images/fish_school4.png);
  position: relative;
  padding: 10px;
  margin-bottom: 10em;
  animation: animated_div 5s 1;
  -moz-animation: animated_div 5s 1;
  -webkit-animation: animated_div 5s 1;
  -o-animation: animated_div 5s 1;
  color: #fff;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: normal;
}

header h2 {
  margin-top: -2.5em;
=======
  animation: shimmer 3s infinite cubic-bezier(0.42, 0, 1, 1);
>>>>>>> 17d86b30641d5fe6f1b1d3a12e42974401ac0d9c
}

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10%;
  margin-top: -30rem;
  margin-bottom: 5rem;
  text-align: center;
  animation: staystill 1s infinite;
}
.summary p:last-child {
  border-top: 3px solid #41658a;
  margin-top: 1em;
  padding-top: 1.5em;
  filter: drop-shadow(10px 10px 4px #45634e);
}
.summary a {
  color: #fff;
}

.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  margin-top: -8rem;
  margin-bottom: 5rem;
  margin-left: -20rem;
  margin-right: 18rem;
  padding: 5% 5% 5% 35%;
  border-radius: 0px 20px 20px 0px;
  filter: drop-shadow(10px 10px 4px #45634e);
}

.sidebar {
  margin-top: -33rem;
  margin-right: 1rem;
}

.design-selection {
  margin-bottom: 5rem;
}
.design-selection li {
  margin-bottom: 1em;
}

#design-selection h3 {
  margin-left: 1em;
}

#design-archives h3 {
  margin-left: 1em;
}

#zen-resources h3 {
  margin-left: 1em;
}

.design-archives {
  margin-bottom: 5rem;
}
.design-archives li {
  margin-bottom: 1em;
}

#zen-ressources li {
  margin-bottom: 1em;
}

.explanation p:last-child {
  border-bottom: 3px solid #41658a;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 2rem;
  filter: drop-shadow(10px 10px 4px #45634e);
}

.participation p:last-child {
  border-bottom: 3px solid #41658a;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 2rem;
  filter: drop-shadow(10px 10px 4px #45634e);
}

.benefits p:last-child {
  border-bottom: 3px solid #41658a;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 2rem;
  filter: drop-shadow(10px 10px 4px #45634e);
}

.requirements p:last-child {
  border-bottom: 3px solid #41658a;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 2rem;
  filter: drop-shadow(10px 10px 4px #45634e);
}

footer {
  height: 400px;
  background-image: url(images/waterbottom_720.png);
  background-size: 100%;
  width: 70rem;
  margin-top: 5rem;
}

footer a {
  margin-left: 2rem;
}

.zen-validate-html {
  margin-left: 24rem;
}

/*.intro {
  padding: 5%;
}*/
.page-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas: "intro intro intro" "support support sidebar";
}

#zen-intro {
  grid-area: intro;
}

#zen-supporting {
  grid-area: support;
}

.sidebar {
  grid-area: sidebar;
}

/*.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1r-fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "summary summary summary"
    "preamble preamble preamble"
}

header {
  grid-area: header;

}

.summary {
  grid-area: summary;
}

.preamble {
  grid-area: preamble;
}

#zen-supporting {
  display: grid;
}*/
* {
  box-sizing: border-box;
}

html {
  background-color: #70a37f;
}

body {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 85%;
  color: #fff;
  background-color: #237959;
  margin: 0;
}/*# sourceMappingURL=style.css.map */


/* ANIMATION ZONE */

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes staystill {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
